div#syndicste-user-row div.syndicste-user-field {
  padding-left: 20px;
  float: left;
}
div#syndicste-user-row {
	clear: both;
}
div.syndicste-add-button {
	float: left;
	padding: 32px 0 0 20px;
}
div#add-another-button {
	clear: both;
}